.no-reaction {
    color: gray;
}

.like-reaction {
    color: green;
}

.dislike-reaction {
    color: red;
}

.date-time-font {
    font-weight: lighter;
    font-size: x-small;
}

.delete-icon {
    color: gray;
    padding: 0rem 0.1rem;
}

.delete-icon:hover {
    color: red;
}

.edit-icon {
    color: gray;
    padding: 0rem 0.1rem;
}

.edit-icon:hover {
    color: gold;
    padding: 0rem 0.1rem;
}